# Environment Variables Configuration

# -------------------
# .env.production
# -------------------
# Configuration for the production or final environment to ensure your project operates correctly in a production setting.

# -------------------
# IMPORTANT NOTICE
# -------------------
# Do not store any sensitive information in this file, as it will be committed to version control.
# If you clone this repository, create a copy named `.env.local` and populate it with your secrets.


# -------------------
# Prisma Configuration
# -------------------
# Database connection URL for Prisma.
# Replace [PASSWORD] with the actual password, which is generated in the Supabase platform.

## Use with Supabase
# DATABASE_URL="postgresql://postgres:[PASSWORD]@db.elnalpjubvyknvqaawva.supabase.co:5432/postgres"

## Use with Docker - DB
# DATABASE_URL="postgresql://root:admin@localhost:5432/started-db?schema=public"

## Use with Docker - APP/DB
DATABASE_URL=

# -------------------
# Next Auth Configuration
# -------------------
# Configure Next Auth settings.
# Generate a new secret with: `openssl rand -base64 32`
# For more details, refer to: https://next-auth.js.org/configuration/options#secret

NEXTAUTH_SECRET="supersecret"
NEXTAUTH_URL="http://localhost:3000"

# -------------------
# Lemon Squeezy Configuration
# -------------------
# Configure Lemon Squeezy settings.
# Add the appropriate URL and API key.

LEMON_SQUEEZY_URL=
LEMON_SQUEEZY_API_KEY=

# -------------------
# Twitter Configuration
# -------------------
# Configure Twitter API credentials.

# Twitter
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=